<mat-toolbar>
  <h1 class="mat-display-1"> AngraDB Desktop Client</h1>
</mat-toolbar>

<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">  
    <mat-card [class.mat-elevation-z3]="true" class="pointed">
      <div [fxLayout]="row">
        <div fxFlex="5%"></div>
        <div fxFlex="90%">
          <form #requestForm="ngForm" (ngSubmit)="onSubmit()">
            <mat-card-title class="mat-typography">
              <h1>Request</h1>
            </mat-card-title>
            <mat-card-content>
                <div class="form-group" fxLayout="row" fxLayoutGap="5px">
                  <mat-form-field fxFlex="50%">
                    <mat-label>Host</mat-label>
                    <input matInput placeHolder="Host" name="host" [(ngModel)]="model.host">
                  </mat-form-field>
                  <mat-form-field fxFlex="25%">
                    <mat-label>Port</mat-label>
                    <input matInput placeHolder="Port" name="port" [(ngModel)]="model.port">
                  </mat-form-field>
                </div>

                <div class="form-group" fxLayout="row">
                  <mat-form-field fxFlex="50%">
                    <mat-label>Database</mat-label>
                    <input matInput placeHolder="Database" name="database" [(ngModel)]="model.database">
                  </mat-form-field>
                </div>

                <div class="form-group" fxLayout="row">
                  <mat-form-field fxFlex="60%">
                    <mat-label>Operation</mat-label>
                    <mat-select matInput name="operation" [(ngModel)]="model.operation">
                      <mat-option value="create_db">Create Database</mat-option>
                      <mat-option value="connect">Connect to Database</mat-option> 
                      <mat-option value="save">Save</mat-option>
                      <mat-option value="lookup">Lookup</mat-option>
                      <mat-option value="update">Update</mat-option>
                      <mat-option value="delete">Delete</mat-option>
                      <mat-option value="query">Query</mat-option>
                      <mat-option value="query_term">Query Term</mat-option>
                      <mat-option value="bulk_lookup">Bulk Lookup</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                
                <div class="form-group" fxLayout="row" *ngIf="showTimes()">
                  <mat-slider thumbLabel step="1" min="1" max="100" [(ngModel)]="times"></mat-slider>
                </div>

                <div class="form-group" fxLayout="row" *ngIf="showKeyField()">
                  <mat-form-field fxFlex="50%">
                    <mat-label>Key<span *ngIf="showOptional()"> (Optional)</span></mat-label>
                    <input matInput placeHolder="Key" name="key" [(ngModel)]="model.key">
                  </mat-form-field>
                </div>

                <div class="form-group" fxLayout="row" *ngIf="showDocumentField()">
                  <mat-form-field fxFlex="100%" appearance="outline">
                    <mat-label>Document Content</mat-label>
                    <textarea (keyDown.Tab)="$event.preventDefault()" style="resize: none;" rows="10" matInput placeHolder="Document" name="document" [(ngModel)]="model.document"></textarea>
                  </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" type="submit">Submit</button>
            </mat-card-actions>
          </form>
        </div>
        <div fxFlex="5%"></div>
      </div>
    </mat-card>

    <mat-card [class.mat-elevation-z3]="true" class="pointed">
      <div [fxLayout]="row">
        <div fxFlex="5%"></div>
        <div fxFlex="90%">
          <mat-card-title class="mat-typography">
            <h1>Response</h1> 
          </mat-card-title>
          <mat-card-content>
            <div class="form-group" fxLayout="row" >
              <mat-form-field fxFlex="100%" appearance="outline">
                <textarea class="pointed response-area" rows="29" matInput name="response" [(ngModel)]="response" readonly></textarea>
              </mat-form-field>
            </div>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="onResetRes()">Reset</button>
            </mat-card-actions>
          </mat-card-content>
        </div>
        <div fxFlex="5%"></div>
      </div>
    </mat-card>
  </div>
</div>